* {
    font-family: "Segoe UI Light";
}

.header-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 800;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px black solid;
    margin: 0;
    padding: 5px 15px;
}

.traffic-intersection-table th,
.traffic-intersection-table td {
    border: none !important;
}

td {
    text-align: center;
}

.table-side-header {
    text-align: start;
    padding-left: 3px;
    padding-right: 12px;
}

.table-side-header.header-1 {
    background-color: #6e8dd2;
}

.table-side-header.header-2 {
    background-color: #72f8b3;
}

.row {
    display: flex;
}

.col-4 {
    flex: 0 0 33.33%;
}

.col-6 {
    flex: 0 0 50%;
}

.col-8 {
    flex: 0 0 66.67%;
}

.traffic-intersection-table .status-round {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: white;
}

.traffic-intersection-table .status-round.status-red {
    background-color: red !important;
    border: none !important;
}

.traffic-intersection-table .status-round.status-green {
    background-color: green !important;
    border: none !important;
}

.traffic-intersection-table .status-round.status-yellow {
    background-color: orange !important;
    border: none !important;
}